/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 7, 2017, 1:01:11 AM
    Author     : bean51591
*/

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
body{
    background-color: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    height: 100%;
}
