/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 6, 2017, 9:51:28 PM
    Author     : bean51591
*/
/*
http://grafreez.com">Grafreez.com -- source of css...used it as a baseline ...made several modifications 
*/
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");


.login-block{
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    box-sizing:border-box;
    padding : 234px 0;
}
.banner-sec{background:url(https://wallpaperscraft.com/image/headphones_desks_floor_light_outdoor_3845_1920x1080.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #2C3E50;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #2C3E50; color:#fff; font-weight:600;}
.btn-newAcct{background: #FEB58A; color:#fff; font-weight:200;width:70%; margin-top:55px}
.banner-text{width:100%; position: absolute; margin: auto;text-align: center; top:20px; padding-top:20px;}
.banner-text h2{color:#fff; margin-bottom:30px; font-weight:1000; font-size:50px;}
.banner-text h2:after{content:" "; width:400px; height:5px; background:#FEB58A; display:block; margin-top:10px; text-align: center; border-radius:3px;margin-left:auto;margin-right:auto}
.banner-text p{color:#fff;font-size:18px;}

